<a href="https://colab.research.google.com/github/SoniaRaju/Webscraping/blob/main/project1_Web_scraping_Makan_com_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Web scraping (or data scraping) is a technique used to collect content and data from the internet. This data is usually saved in a local file so that it can be manipulated and analyzed as needed.

Objective:Scrap the data from multiple web pages of the website makan.com. 
 Web scraping follows three basic principles:

* Step 1: Accessing request to website
* Step 2: Extracting and parsing (or breaking down) the websiteâ€™s code
* Step 3: Saving the relevant data in local drive as .csv file

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

In [ ]:
url='https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city'
req=requests.get(url)
#req.text

In [ ]:
soup=BeautifulSoup(req.text,'html')

In [ ]:
item_builder=soup.find('span',attrs={'class':'seller-type'})
print(item_builder)

<span class="seller-type">BUILDER</span>

In [ ]:
item_builder.text

'BUILDER'

In [ ]:
item_3=soup.find('span',attrs={'class':'val'})
print(item_3)       # not getting o/p bcz this class has many other same attribute values. so check other hierarchies

<span class="val js-tag"></span>

In [ ]:
soup.find('div',attrs={'class':'title-line'})  # o/p is showing title-line class, a tag,strong and span tag before the value of class val

<div class="title-line "><a class="typelink" data-type="listing-link" href="https://www.makaan.com/hyderabad/vessella-group-meadows-in-narsingi-14826366/4bhk-2929-sqft-villa" itemprop="url" target="_blank"><meta content="4 BHK Villa for sale" id="itemNameFor-14826366" itemprop="name"/><strong><span class="val">4 </span><span>BHK </span><span>Villa</span></strong></a><span class="project-wrap"> in <strong><a class="projName" data-link-name="Vessella Meadows" data-link-type="project overview" data-track-label="14826366_1_658184_select" data-type="projName" href="https://www.makaan.com/hyderabad/vessella-group-meadows-in-narsingi-658184" target="_blank" title="Go to Vessella Meadows"><span>Vessella Meadows</span></a></strong></span><div class="rera-tag-new" title="Rera Approved Project"><img alt="Rera Approved Project" src="//static.makaan.com/images/un-versioned/rera-tag.svg"/></div></div>

In [ ]:
soup.find('div',attrs={'class':'title-line'}).a.strong.span

In [ ]:
item_3=soup.find('div',attrs={'class':'title-line'}).a.strong.span  #bhk
print(item_3.text)

4

In [ ]:
soup.find('span',attrs={'class':'val','itemprop':'offers'}) #class has 2 attributes val and itemprop

<span class="val" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><meta content="https://www.makaan.com/hyderabad/vessella-group-meadows-in-narsingi-14826366/4bhk-2929-sqft-villa" itemprop="url"/><meta content="46864000 " itemprop="price"/><meta content="INR" itemprop="priceCurrency"/>4.68</span>

In [ ]:
item_price=soup.find('span',attrs={'class':'val','itemprop':'offers'}).text            
print(item_price)

4.68

In [ ]:
soup.find('div',attrs={'data-type':'price-link'})

<div data-type="price-link"><sup class="rupee currency"> </sup><span class="val" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><meta content="https://www.makaan.com/hyderabad/vessella-group-meadows-in-narsingi-14826366/4bhk-2929-sqft-villa" itemprop="url"/><meta content="46864000 " itemprop="price"/><meta content="INR" itemprop="priceCurrency"/>4.68</span><span class="unit"> Cr</span></div>

In [ ]:
soup.find('div',attrs={'data-type':'price-link'}).text      #price of apartment

' 4.68 Cr'

In [ ]:
soup.find('span',attrs={'itemprop':'addressLocality'}) #this span tag has no class

In [ ]:
soup.find('span',attrs={'itemprop':'addressLocality'}).text  #find the location0.

'Narsingi'

In [ ]:
soup.findAll('span',attrs={'itemprop':'addressLocality'}) #will get all the locality name in the current page

In [ ]:
len(soup.findAll('span',attrs={'itemprop':'addressLocality'}))

20

In [ ]:
location=soup.findAll('span',attrs={'itemprop':'addressLocality'})  #list 20 lcation name
for i in location:
  print(i.text)

Narsingi
Manikonda
Shaikpet
Bachupally
Shamshabad
Tellapur
Attapur
Yapral
Sheriguda
Manikonda
Bachupally
Ghatkesar
Attapur
Kompally
Shankarpalli
Hitech City
Mallampet
Nanakramguda
Narsingi
Manikonda

In [ ]:
#find area in square foot
#soup.findAll('td',attrs={'class':'lbl'})  #lbl has many values

In [ ]:
soup.find('td',attrs={'class':'size'})

In [ ]:
soup.find('td',attrs={'class':'size'}).text    #find the sq.feet

'2929 '

In [ ]:
#construction status
soup.find('td',attrs={'class':'val'})

In [ ]:
soup.find('td',attrs={'class':'val'}).text     #get the o/p

'Under Construction'

In [ ]:
soup.find('td',attrs={'class':'lbl rate'})

In [ ]:
soup.find('td',attrs={'class':'lbl rate'}).text

'16,000 / sq ft'

In [ ]:
soup.findAll('span',attrs={'class':'seller-type'})

In [ ]:
len(soup.findAll('span',attrs={'class':'seller-type'}))

20

In [ ]:
owner=soup.findAll('span',attrs={'class':'seller-type'})  # will get the all the 20 nbuilder list
for i in owner:
  print(i.text)

In [ ]:
owner=soup.findAll('span',attrs={'class':'seller-type'})  #another method
own_info=[]
for i in owner:
  own_info.append(i.text)

In [ ]:
own_info

In [ ]:
owner_info=[i.text for i in owner]  #list comprehension third method

In [ ]:
owner_info

In [ ]:
bhk_info=soup.findAll('div',attrs={'class':'title-line'})
#bhk_info

In [ ]:
[i.strong.span.text for i in bhk_info]

 display first page or 20 text details

In [ ]:
location=soup.findAll('span',attrs={'itemprop':'addressLocality'})
Locality_info=[i.text for i in location]
Locality_info

['Narsingi',
 'Manikonda',
 'Shaikpet',
 'Bachupally',
 'Shamshabad',
 'Tellapur',
 'Attapur',
 'Yapral',
 'Sheriguda',
 'Manikonda',
 'Bachupally',
 'Ghatkesar',
 'Attapur',
 'Kompally',
 'Shankarpalli',
 'Hitech City',
 'Mallampet',
 'Nanakramguda',
 'Narsingi',
 'Manikonda']

In [ ]:
price=soup.findAll('div',attrs={'data-type':'price-link'})  
price_info=soup.find('td',attrs={'class':'val'}).text

In [ ]:
Squarefeet=soup.findAll('td',attrs={'class':'size'}) 
Sqfeet_info=[i.text.strip() for i in Squarefeet] #.strip removes the white space
Sqfeet_info

In [ ]:
bhk=[i.strong.span.text for i in bhk_info]
bhk

['4 ',
 '3 ',
 '2 ',
 '2 ',
 '2 ',
 '3 ',
 '3 ',
 '3 ',
 'Residential Plot',
 '3 ',
 '4 ',
 '2 ',
 '2 ',
 '2 ',
 '3 ',
 '4 ',
 '3 ',
 '3 ',
 '5 ',
 '3 ']

In [ ]:
Construction=soup.findAll('td',attrs={'class':'val'})#construction info
Con_info=[i.text for i in Construction]
Con_info

['Under Construction',
 'Under Construction',
 'Ready to move',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'New',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Ready to move',
 'Under Construction',
 'Ready to move',
 'Under Construction',
 'Under Construction']

In [ ]:
owner= soup.findAll('span',attrs={'class':'seller-type'})  
owner_info=[i.text for i in owner]

In [ ]:
Price_per_feet=soup.findAll('td',attrs={'class':'lbl rate'})
P_feet=[i.text for i in Price_per_feet]
P_feet

In [ ]:
print(len(Price_per_feet))
print(len(P_feet))

20
20

In [ ]:
data=pd.DataFrame({'owner':owner_info, 
              'bhk_info':bhk,
              'price':price_info,
             'Squarefeet':Sqfeet_info,
              'Construction':Con_info,
              'Price_per_feet':P_feet})

In [ ]:
print(data)

      owner          bhk_info  ...        Construction  Price_per_feet
0   BUILDER                4   ...  Under Construction  16,000 / sq ft
1   BUILDER                3   ...  Under Construction   5,699 / sq ft
2   BUILDER                2   ...       Ready to move   9,565 / sq ft
3   BUILDER                2   ...  Under Construction   4,400 / sq ft
4   BUILDER                2   ...  Under Construction   4,899 / sq ft
5   BUILDER                3   ...  Under Construction   4,600 / sq ft
6   BUILDER                3   ...  Under Construction   6,501 / sq ft
7   BUILDER                3   ...  Under Construction   5,400 / sq ft
8   BUILDER  Residential Plot  ...                 New   3,555 / sq ft
9   BUILDER                3   ...  Under Construction   6,200 / sq ft
10  BUILDER                4   ...  Under Construction   6,304 / sq ft
11  BUILDER                2   ...  Under Construction   4,500 / sq ft
12  BUILDER                2   ...  Under Construction   5,500 / sq ft
13  BUILDER                2   ...  Under Construction   4,700 / sq ft
14  BUILDER                3   ...  Under Construction   4,700 / sq ft
15  BUILDER                4   ...       Ready to move   8,290 / sq ft
16  BUILDER                3   ...  Under Construction   4,199 / sq ft
17  BUILDER                3   ...       Ready to move   6,800 / sq ft
18  BUILDER                5   ...  Under Construction  16,000 / sq ft
19  BUILDER                3   ...  Under Construction   5,699 / sq ft

[20 rows x 6 columns]

In [ ]:
data.to_csv('Apartment_data.csv')   #converts it in to csv file

In [ ]:
data.to_csv('Apartment_data.csv',index=False)   #if you dont want index


'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city'

```
# This is formatted as code
```

In [ ]:
'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city'


'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540184551'

'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=3'
'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=4'

'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=4'

In [ ]:
baseurl='https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page='
for i in range(1,11):
  print(baseurl+str(i)+'&=1624540184551')

https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=1&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=2&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=3&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=4&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=5&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=6&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=7&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=8&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=9&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=10&=1624540184551

In [ ]:
baseurl='https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page='
for i in range(1,3):
  print(baseurl+str(i)+'&=1624540184551')
  req=requests.get(url)
  soup=BeautifulSoup(req.text,'html')
  owner_information=soup.findAll('span',attrs={'class':'seller-type'}) 
  #print(owner_information)  #will get the o/p as list 
  ownerinfo_all=[i.text for i in owner_information]  # will get page wise all the 20 owner info in the form of text
  print(ownerinfo_all)

https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=1&=1624540184551
['BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER']
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=2&=1624540184551
['BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER', 'BUILDER']

In [ ]:
baseurl='https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page='
store_ownerinfo=[] # this list is going to store all the pages owner info
for i in range(1,4):
 # print(baseurl+str(i)+'&=1624540184551')
  req=requests.get(url)
  soup=BeautifulSoup(req.text,'html')
  owner_information=soup.findAll('span',attrs={'class':'seller-type'}) 
  #print(owner_information)  #will get the o/p as list 
  ownerinfo_currentpage=[i.text for i in owner_information]  # will get text values in page wise all the 20 owners info of the current page and display in single row
  #print(ownerinfo_currentpage) #print 3 pages text values.
  for j in ownerinfo_currentpage:   # Loop iterates 20 times update 20 BUILDER (ie,first page owner values) names in the list ,  loop21-30 update values of second page and so on
    store_ownerinfo.append(j)
    #print( i,store_ownerinfo )  #j has the text value BUILDER

In [ ]:
len(store_ownerinfo)

60

In [ ]:
store_ownerinfo

In [ ]:
  print(len(no_bhk))

40

In [ ]:
# import time module to pause the downloading time
import time
import requests
#display bhk details of given pages
baseurl='https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page='
store_ownerinfo=[] 
no_bhk=[]
for i in range(1,21):
  time.sleep(3)
 # print(baseurl+str(i)+'&=1624540184551')
  req=requests.get(url)
  soup=BeautifulSoup(req.text,'html')
  owner_information=soup.findAll('span',attrs={'class':'seller-type'}) 
  #print(owner_information)  #will get the o/p as list 
  ownerinfo_currentpage=[i.text for i in owner_information]  # will get page wise all the 20 owners info in the current page and display in single row
  #print(ownerinfo_currentpage) #print 3 pages text values.
  for j in ownerinfo_currentpage:   # Loop iterates 20 times update 20 BUILDER (ie,first page owner values) names in the list ,  loop21-30 update values of second page and so on
    store_ownerinfo.append(j)
    #print( i,store_ownerinfo )  #j has the text value BUILDER
  bhk_info=soup.findAll('div',attrs={'class':'title-line'})      #bhk_info
  for j in bhk_info:   # Loop iterates 20 times update 20 BUILDER (ie,first page owner values) names in the list ,  loop21-30 update values of second page and so on
    no_bhk.append(j.strong.span.text)

In [ ]:
data=pd.DataFrame({'Owner_Info': store_ownerinfo, 
              'Number_of_BHK':no_bhk})
data

    Owner_Info Number_of_BHK
0      BUILDER            4
1      BUILDER            3
2      BUILDER            2
3      BUILDER            2
4      BUILDER            2
..         ...           ...
395    BUILDER            3
396    BUILDER            4
397    BUILDER            3
398    BUILDER            5
399    BUILDER            3

[400 rows x 2 columns]

In [ ]:
data.to_csv('Page20_data.csv',index=False)