<a href="https://colab.research.google.com/github/SoniaRaju/Webscraping/blob/main/project1_Web_scraping_Makan_com_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Web scraping (or data scraping) is a technique used to collect content and data from the internet. This data is usually saved in a local file so that it can be manipulated and analyzed as needed.

Objective:Scrap the data from multiple web pages of the website makan.com. 
 Web scraping follows three basic principles:

* Step 1: Accessing request to website
* Step 2: Extracting and parsing (or breaking down) the website’s code
* Step 3: Saving the relevant data in local drive as .csv file

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

In [ ]:
url='https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city'
req=requests.get(url)
#req.text

In [ ]:
soup=BeautifulSoup(req.text,'html')

In [ ]:
item_builder=soup.find('span',attrs={'class':'seller-type'})
print(item_builder)

<span class="seller-type">BUILDER</span>

In [ ]:
item_builder.text

'BUILDER'

In [ ]:
item_3=soup.find('span',attrs={'class':'val'})
print(item_3)       # not getting o/p bcz this class has many other same attribute values. so check other hierarchies

<span class="val js-tag"></span>

In [ ]:
soup.find('div',attrs={'class':'title-line'})  # o/p is showing title-line class, a tag,strong and span tag before the value of class val

<div class="title-line "><a class="typelink" data-type="listing-link" href="https://www.makaan.com/hyderabad/vessella-group-woods-in-serilingampally-14828424/4bhk-3693-sqft-villa" itemprop="url" target="_blank"><meta content="4 BHK Villa for sale" id="itemNameFor-14828424" itemprop="name"/><strong><span class="val">4 </span><span>BHK </span><span>Villa</span></strong></a><span class="project-wrap"> in <strong><a class="projName" data-link-name="Vessella Woods" data-link-type="project overview" data-track-label="14828424_1_1584869_select" data-type="projName" href="https://www.makaan.com/hyderabad/vessella-group-woods-in-serilingampally-1584869" target="_blank" title="Go to Vessella Woods"><span>Vessella Woods</span></a></strong></span><div class="rera-tag-new" title="Rera Approved Project"><img alt="Rera Approved Project" src="//static.makaan.com/images/un-versioned/rera-tag.svg"/></div></div>

In [ ]:
soup.find('div',attrs={'class':'title-line'}).a.strong.span

In [ ]:
item_3=soup.find('div',attrs={'class':'title-line'}).a.strong.span  #bhk
print(item_3.text)

4

In [ ]:
soup.find('span',attrs={'class':'val','itemprop':'offers'}) #class has 2 attributes val and itemprop

<span class="val" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><meta content="https://www.makaan.com/hyderabad/vessella-group-woods-in-serilingampally-14828424/4bhk-3693-sqft-villa" itemprop="url"/><meta content="59088000 " itemprop="price"/><meta content="INR" itemprop="priceCurrency"/>5.9</span>

In [ ]:
item_price=soup.find('span',attrs={'class':'val','itemprop':'offers'}).text            
print(item_price)

5.9

In [ ]:
soup.find('div',attrs={'data-type':'price-link'})

<div data-type="price-link"><sup class="rupee currency"> </sup><span class="val" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><meta content="https://www.makaan.com/hyderabad/vessella-group-woods-in-serilingampally-14828424/4bhk-3693-sqft-villa" itemprop="url"/><meta content="59088000 " itemprop="price"/><meta content="INR" itemprop="priceCurrency"/>5.9</span><span class="unit"> Cr</span></div>

In [ ]:
soup.find('div',attrs={'data-type':'price-link'}).text      #price of apartment

' 5.9 Cr'

In [ ]:
soup.find('span',attrs={'itemprop':'addressLocality'}) #this span tag has no class

In [ ]:
soup.find('span',attrs={'itemprop':'addressLocality'}).text  #find the location0.

'Serilingampally'

In [ ]:
soup.findAll('span',attrs={'itemprop':'addressLocality'}) #will get all the locality name in the current page

[<span itemprop="addressLocality"><strong>Serilingampally</strong></span>,
 <span itemprop="addressLocality"><strong>Manikonda</strong></span>,
 <span itemprop="addressLocality"><strong>Shaikpet</strong></span>,
 <span itemprop="addressLocality"><strong>Bachupally</strong></span>,
 <span itemprop="addressLocality"><strong>Shamshabad</strong></span>,
 <span itemprop="addressLocality"><strong>Tellapur</strong></span>,
 <span itemprop="addressLocality"><strong>Attapur</strong></span>,
 <span itemprop="addressLocality"><strong>Sainikpuri</strong></span>,
 <span itemprop="addressLocality"><strong>Sheriguda</strong></span>,
 <span itemprop="addressLocality"><strong>Manikonda</strong></span>,
 <span itemprop="addressLocality"><strong>Bachupally</strong></span>,
 <span itemprop="addressLocality"><strong>Ghatkesar</strong></span>,
 <span itemprop="addressLocality"><strong>Attapur</strong></span>,
 <span itemprop="addressLocality"><strong>Kompally</strong></span>,
 <span itemprop="addressLocality"><strong>Shankarpalli</strong></span>,
 <span itemprop="addressLocality"><strong>Mallampet</strong></span>,
 <span itemprop="addressLocality"><strong>Nanakramguda</strong></span>,
 <span itemprop="addressLocality"><strong>Hitech City</strong></span>,
 <span itemprop="addressLocality"><strong>Narsingi</strong></span>,
 <span itemprop="addressLocality"><strong>Manikonda</strong></span>]

In [ ]:
len(soup.findAll('span',attrs={'itemprop':'addressLocality'}))

20

In [ ]:
location=soup.findAll('span',attrs={'itemprop':'addressLocality'})  #list 20 lcation name
for i in location:
  print(i.text)

Serilingampally
Manikonda
Shaikpet
Bachupally
Shamshabad
Tellapur
Attapur
Sainikpuri
Sheriguda
Manikonda
Bachupally
Ghatkesar
Attapur
Kompally
Shankarpalli
Mallampet
Nanakramguda
Hitech City
Narsingi
Manikonda

In [ ]:
#find area in square foot
#soup.findAll('td',attrs={'class':'lbl'})  #lbl has many values

In [ ]:
soup.find('td',attrs={'class':'size'})

In [ ]:
soup.find('td',attrs={'class':'size'}).text    #find the sq.feet

'3693 '

In [ ]:
#construction status
soup.find('td',attrs={'class':'val'})

In [ ]:
soup.find('td',attrs={'class':'val'}).text     #get the o/p

'Under Construction'

In [ ]:
soup.find('td',attrs={'class':'lbl rate'})

In [ ]:
soup.find('td',attrs={'class':'lbl rate'}).text

'16,000 / sq ft'

In [ ]:
soup.findAll('span',attrs={'class':'seller-type'})

In [ ]:
len(soup.findAll('span',attrs={'class':'seller-type'}))

20

In [ ]:
owner=soup.findAll('span',attrs={'class':'seller-type'})  # will get the all the 20 nbuilder list
for i in owner:
  print(i.text)

In [ ]:
owner=soup.findAll('span',attrs={'class':'seller-type'})  #another method
own_info=[]
for i in owner:
  own_info.append(i.text)

In [ ]:
owner_info=[i.text for i in owner]  #list comprehension third method

 display first page or 20 text details

In [ ]:
location=soup.findAll('span',attrs={'itemprop':'addressLocality'})
Locality_info=[i.text for i in location]
Locality_info

['Serilingampally',
 'Manikonda',
 'Shaikpet',
 'Bachupally',
 'Shamshabad',
 'Tellapur',
 'Attapur',
 'Sainikpuri',
 'Sheriguda',
 'Manikonda',
 'Bachupally',
 'Ghatkesar',
 'Attapur',
 'Kompally',
 'Shankarpalli',
 'Mallampet',
 'Nanakramguda',
 'Hitech City',
 'Narsingi',
 'Manikonda']

In [ ]:
price=soup.findAll('div',attrs={'data-type':'price-link'})  
price_info=soup.find('td',attrs={'class':'val'}).text

In [ ]:
Squarefeet=soup.findAll('td',attrs={'class':'size'}) 
Sqfeet_info=[i.text.strip() for i in Squarefeet] #.strip removes the white space
Sqfeet_info

In [ ]:
bhk_info=soup.findAll('div',attrs={'class':'title-line'}) 
bhk=[i.strong.span.text for i in bhk_info]
bhk

In [ ]:
Construction=soup.findAll('td',attrs={'class':'val'})#construction info
Con_info=[i.text for i in Construction]
Con_info

['Under Construction',
 'Under Construction',
 'Ready to move',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'New',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Ready to move',
 'Ready to move',
 'Under Construction',
 'Under Construction']

In [121]:
owner= soup.findAll('span',attrs={'class':'seller-type'})  
owner_info=[i.text for i in owner]

In [123]:
Price_per_feet=soup.findAll('td',attrs={'class':'lbl rate'})
P_feet=[i.text for i in Price_per_feet]
P_feet

['16,000 / sq ft',
 '5,699 / sq ft',
 '9,565 / sq ft',
 '4,400 / sq ft',
 '4,899 / sq ft',
 '4,600 / sq ft',
 '6,501 / sq ft',
 '5,400 / sq ft',
 '3,555 / sq ft',
 '6,200 / sq ft',
 '6,304 / sq ft',
 '4,500 / sq ft',
 '5,500 / sq ft',
 '4,700 / sq ft',
 '4,700 / sq ft',
 '4,199 / sq ft',
 '6,800 / sq ft',
 '8,290 / sq ft',
 '16,000 / sq ft',
 '5,699 / sq ft']

In [122]:
print(len(Price_per_feet))
print(len(P_feet))

20
20

In [ ]:
data=pd.DataFrame({'owner':owner_info, 
              'bhk_info':bhk,
              'price':price_info,
             'Squarefeet':Sqfeet_info,
              'Construction':Con_info,
              'Price_per_feet':P_feet,
              'Locality':Locality_info})

In [ ]:
print(data)

      owner          bhk_info  ...  Price_per_feet         Locality
0   BUILDER                4   ...  16,000 / sq ft  Serilingampally
1   BUILDER                3   ...   5,699 / sq ft        Manikonda
2   BUILDER                2   ...   9,565 / sq ft         Shaikpet
3   BUILDER                2   ...   4,400 / sq ft       Bachupally
4   BUILDER                2   ...   4,899 / sq ft       Shamshabad
5   BUILDER                3   ...   4,600 / sq ft         Tellapur
6   BUILDER                2   ...   6,501 / sq ft          Attapur
7   BUILDER                3   ...   5,400 / sq ft       Sainikpuri
8   BUILDER  Residential Plot  ...   3,555 / sq ft        Sheriguda
9   BUILDER                3   ...   6,200 / sq ft        Manikonda
10  BUILDER                4   ...   6,304 / sq ft       Bachupally
11  BUILDER                2   ...   4,500 / sq ft        Ghatkesar
12  BUILDER                2   ...   5,500 / sq ft          Attapur
13  BUILDER                2   ...   4,700 / sq ft         Kompally
14  BUILDER                3   ...   4,700 / sq ft     Shankarpalli
15  BUILDER                3   ...   4,199 / sq ft        Mallampet
16  BUILDER                3   ...   6,800 / sq ft     Nanakramguda
17  BUILDER                4   ...   8,290 / sq ft      Hitech City
18  BUILDER                4   ...  16,000 / sq ft         Narsingi
19  BUILDER                3   ...   5,699 / sq ft        Manikonda

[20 rows x 7 columns]

In [ ]:
data.to_csv('Apartment_data.csv')   #converts it in to csv file

In [120]:
data.to_csv('Apartment_data.csv',index=False)   #if you dont want index


'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city'

```
# This is formatted as code
```

In [ ]:
'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city'


'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540184551'

'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=3'
'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=4'

'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=4'

In [ ]:
baseurl='https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page='
for i in range(1,3):
  print(baseurl+str(i)+'&=1624540184551')

https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=1&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=2&=1624540184551

In [127]:
# import time module to pause the downloading time
import time
import requests
#display bhk details of given pages
baseurl='https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page='
store_ownerinfo=[] 
no_bhk=[]
local_info=[]
price_feet=[]
for i in range(1,20):
  time.sleep(2)
  print(baseurl+str(i)+'&=1624540184551')
  req=requests.get(url)
  soup=BeautifulSoup(req.text,'html')
  location=soup.findAll('span',attrs={'itemprop':'addressLocality'})
  Locality_info=[i.text for i in location]

  for j in Locality_info:
    local_info.append(j)


  owner_information=soup.findAll('span',attrs={'class':'seller-type'}) 
  ownerinfo_currentpage=[i.text for i in owner_information]  #gives page wise all the  owners info 

  for j  in ownerinfo_currentpage: 
    store_ownerinfo.append(j)
    
  bhk_info=soup.findAll('div',attrs={'class':'title-line'})      #bhk_info
  for j in bhk_info:   # Loop iterates 20 times update 20 BUILDER (ie,first page owner values) names in the list ,  loop21-30 update values of second page and so on
    no_bhk.append(j.strong.span.text)
  
  for j in P_feet:
    price_feet.append(j)

https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=1&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=2&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=3&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=4&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=5&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=6&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=7&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=8&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=9&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=10&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=11&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=12&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=13&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=14&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=15&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=16&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=17&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=18&=1624540184551
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624540261767&page=19&=1624540184551

In [128]:
data=pd.DataFrame({'Owner_Info': store_ownerinfo,'Location':local_info,'Number_of_BHK':no_bhk,'Price_feet':price_feet})
data

    Owner_Info         Location Number_of_BHK      Price_feet
0      BUILDER  Serilingampally            4   16,000 / sq ft
1      BUILDER        Manikonda            3    5,699 / sq ft
2      BUILDER         Shaikpet            2    9,565 / sq ft
3      BUILDER       Bachupally            2    4,400 / sq ft
4      BUILDER       Shamshabad            2    4,899 / sq ft
..         ...              ...           ...             ...
375    BUILDER        Mallampet            3    4,199 / sq ft
376    BUILDER     Nanakramguda            3    6,800 / sq ft
377    BUILDER      Hitech City            4    8,290 / sq ft
378    BUILDER         Narsingi            4   16,000 / sq ft
379    BUILDER        Manikonda            3    5,699 / sq ft

[380 rows x 4 columns]

In [129]:
data.to_csv('Page20_data.csv',index=False)